target/
!.mvn/wrapper/maven-wrapper.jar
logs/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/projectFilesBackup/
/linker.ids
/linker.corrupted.20161127-085902.ids
